.containerFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #6278f7;
    width: 100%;
    position: relative;
    bottom: 0;
    padding: 20px 0px;
    box-sizing: border-box;
}

.img {
    width: 140px;
    height: 60px;
}

.icones {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icones img {
    margin-inline: 10px;
}

.dev {
    color: aliceblue;
    font-size: 15px;
    font-weight: 700;
}